<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/styles.css" rel="stylesheet">
    <script type="importmap">
        {
          "imports": {
            "axios": "https://esm.sh/axios@1.7.9"
          }
        }
        </script>

    <!-- Load dependencies first -->
    <script type="module" src="/src/api/inventory.js"></script>
    <script src="./admin.js"></script>
    <script type="module" src="/components/notification.js"></script>
    <script type="module" src="/components/inventory.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <title>Admin home</title>
</head>


<body>
    <div id="navegacion">

    </div>

    <div id="notification" class="hidden fixed top-4 right-4 p-4 rounded-lg z-10 text-white">

    </div>
    <div id="inventory">

    </div>
    <script type="module" src="/src/api/inventory.js"></script>
    <script src="./admin.js"></script>
    <script src="/components/nav.js"></script>
    <script type="module" src="/components/notification.js"></script>
    <script type="module" src="/components/inventory.js"></script>
</body>

</html>