<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Staff Home - Medical Inventory</title>
  <link href="/styles.css" rel="stylesheet">
  <style>
    @keyframes modalEnter {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .modal-animation {
      animation: modalEnter 0.3s ease-out;
    }
  </style>
</head>

<body class="bg-gray-100">

  <div id="navegacion">

  </div>
  <div id="inventory">

  </div>

  <script src="../components/nav.js"></script>
  <script type="module" src="/components/inventory.js"></script>
  <script type="module" src="/src/api/inventory.js"></script>
</body>

</html>